body {
   margin: 0px;
   width: 100%;
   height: 100%;
}

.container-card {
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center; 
   position: absolute;
   width: 600px;
}